button{
  color: white;
  background-color: blue;
  border: none;
  padding: 7px 15px;
  cursor: pointer;
  transition: transform 3s ease;
}

.product-details:hover{
  transform: scale(1.2);
}

.product-details{
  width: 100%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.products-container{
  height: 350px;
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}