.green{
  color: white;
  background-color: rgb(25, 135, 84);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.red{
  color: white;
  background-color: rgb(220, 53, 69);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}