 span{
  color: green;
 }

/* Styles for counter App */

button{
  cursor: pointer;
  background-color: rgb(25, 135, 84);
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  }

.buttonCount{
    gap: 8px;
    background-color: rgb(222, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  /* styles for text input */

button{
  color: white;
  background-color: rgb(0, 123, 255);
  border: none;
  padding: 8px 15px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.showButton{
  padding: 4px  10px;
  margin: 0 0 0 5px;
}

.textInput{
  gap: 10px;
}

.topInput, 
.bottomInput {
  margin-bottom: 5px;
}
